
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Bootstrap Material Design">
<meta name="keywords" content="Bootstrap Material Design, Sass">
<meta name="author" content="Federico Zivolo, Kevin Ross, and Bootstrap Material Design contributors">

<title>
  
    Selintas Olahraga
  
</title>


<!-- Material Design fonts -->

  </head>
  <body> 
 
 <div class="bmd-layout-container bmd-drawer-f-t ">
  <header class="bmd-layout-header">
    <div class="navbar navbar-light bg-faded">
      <button class="navbar-toggler hidden-lg-up" href="http://localhost/selintas/selintas_new">
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">arrow_back</i>
      </button>
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          
        </li>
        
      </ul>
    </div>
  </header>
  <div >
  <br><br>
  <div class="container">
  
  <h1>{{data.title}}</h1>
    <img ng-src="{{data.thumbnail_images.medium_large.url}}"/>
   
 
 <div class="row container" ng-bind-html="myText"></div>
	</div>
	</div>
 </div>
 </body> 
 </html>
 